<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

    @*@Scripts.Render("~/bundles/modernizr")*@

    @Styles.Render("~/Content/navbar.css")
    @Scripts.Render("~/Scripts/navbar.js")
    @Styles.Render("~/Content/w3.css")
    @Styles.Render("~/Content/Bootstrap/bootstrap.min.css")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    @{
        Html.RenderAction("Navbar", "PartView");
    }

    @RenderBody()

    
    @RenderSection("scripts", required: false)
</body>
</html>
