@{
    ViewBag.Title = "Contact";
}
<h2>ASP.NET 如何取得 Request URL 的各個部分</h2>
<br />
<hr />
<h4>Request.PhysicalPath : @Request.PhysicalPath</h4>
<h4>Request.Path : @Request.Path</h4>
<h4>Request.Url.AbsoluteUri : @Request.Url.AbsoluteUri</h4>
<h4>Request.Url.Authority : @Request.Url.Authority</h4>
<h4>Request.Url.Port : @Request.Url.Port</h4>
