@using EXhibition.Models.PartView
@{
    ViewBag.Title = "_NavbarUser";

    string ShopLink = CommonParam.ShopLink;

    string CenterLink = ExhibitorPartViewParam.CenterLink;

    string LogoutLink = CommonParam.LogoutLink;
}

<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button d-inline-block indexItem">展覽館</a>
        <!-- Float links to the right. Hide them on small screens -->

        <div class="w3-right w3-hide-small navInline">
            <a href="@ShopLink" class="w3-bar-item w3-button">展覽列表</a>
            <a href="@CenterLink" class="w3-bar-item w3-button">會員中心</a>
            <a href="@LogoutLink" class="w3-bar-item w3-button">登出</a>
        </div>

        <div class="d-flex justify-content-end">
            <button class="hamburgerMenu" onclick="NavDropDown()" style="border: none;background-color: white">
                <img src="~/Image/Icon/list.svg" height="38" alt="">
            </button>
        </div>

        <div class="navDrop">
            <ul class="d-inline-block w-100 p-0" style="text-align: center">
                <li>
                    <a href="@ShopLink" class="d-block p-2 font5">展覽列表</a>
                </li>
                <li>
                    <a href="@CenterLink" class="d-block p-2 font5">會員中心</a>
                </li>
                <li>
                    <a href="@LogoutLink" class="d-block p-2 font5">登出</a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="">
    <!-- 撐高元素 -->
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <div class="w3-right" style="height: 38px"></div>
    </div>
</div>

