@using EXhibition.Models.PartView
@{
    ViewBag.Title = "_NavbarVisitor";
    string host = CommonParam.HostLoginLink;
    string exhibitor = CommonParam.ExhibitorLoginLink;
    string user = CommonParam.UserLoginLink;
    string shop = CommonParam.ShopLink;
}


<div class="w3-top" >
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="/" class="w3-bar-item w3-button d-inline-block indexItem">展覽館</a>
        <!-- Float links to the right. Hide them on small screens -->

        <div class="w3-right w3-hide-small navInline">
            <a href="@shop" class="w3-bar-item w3-button">展覽列表</a>
            @*<a href="#about" class="w3-bar-item w3-button">購物車</a>*@
            <div class="w3-dropdown-click">
                <button data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-expanded="false"
                        class="w3-button  dropdown-toggle">
                    登入
                </button>
                <div id="" class="w3-dropdown-content w3-bar-block w3-border dropdown-menu"
                     aria-labelledby="dropdownMenuButton1">
                    <a href="@host" class="w3-bar-item w3-button">主辦登入</a>
                    <a href="@exhibitor" class="w3-bar-item w3-button">廠商登入</a>
                    <a href="@user" class="w3-bar-item w3-button">一般會員</a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button class="hamburgerMenu" onclick="NavDropDown()" style="border: none;background-color: white">
                <img src="~/Image/Icon/list.svg" height="38" alt="">
            </button>
        </div>

        <div class="navDrop">
            <ul class="d-inline-block w-100 p-0" style="text-align: center">
                <li><a href="@shop" class="p-2 d-block font5">展覽列表</a></li>
                @*<li><a href="#projects" class="d-block p-2 font5">購物車</a></li>*@
                <li>
                    <div class="w3-dropdown-click d-block w-100">
                        <button data-bs-toggle="dropdown" id="dropdownMenuButton2" aria-expanded="false"
                                class="w3-button dropdown-toggle font5">
                            登入
                        </button>
                        <div class="w3-dropdown-content w3-bar-block w3-border dropdown-menu"
                             aria-labelledby="dropdownMenuButton2">
                            <a href="@host" class="w3-bar-item w3-button">主辦登入</a>
                            <a href="@exhibitor" class="w3-bar-item w3-button">廠商登入</a>
                            <a href="@user" class="w3-bar-item w3-button">一般會員</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
<div class="">
    <!-- 撐高元素 -->
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <div class="w3-right" style="height: 38px"></div>
    </div>
</div>
